body {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  /*-webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;*/
}

#easel {
  float: left;
}

#hScroll {
  width: 800px;
  height: 20px;
  top: 600px;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(209,209,209,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(209,209,209,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(209,209,209,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(209,209,209,1) 100%); /* IE10+ */
  background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(209,209,209,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d1d1',GradientType=0 ); /* IE6-9 */
}

#vScroll {
  width: 20px;
  height: 600px;
  left: 800px;
  bbackground: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(209,209,209,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(209,209,209,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(209,209,209,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(209,209,209,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(209,209,209,1) 100%); /* IE10+ */
  background: linear-gradient(left, rgba(255,255,255,1) 0%,rgba(209,209,209,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d1d1',GradientType=1 ); /* IE6-9 */
}

#hScroll, #vScroll {
  position: absolute;
  background-color: #d9d9d9;
  border-radius: 10px;
}

#hScrollHandle, #vScrollHandle {
  width: 16px;
  height: 16px;
  background-color: #e083ff;
  border-radius: 10px;
  border: solid #959595 2px;
  position: relative;
}

#tools {
  margin-left: 20px;
  width: 220px;
  float: left;
  text-align: center;
}

#currentCharLabel {
  padding: .5em 0;
  font-style: italic;
}

#currentChar {
  font-size: 96px;
  text-shadow: 1px 1px 0 #a03bff;
  margin: 0 0 20px;
}

#currentCharHelp {
  margin: .5em 0;
}

#toolSelector {
  background-color: #efdeff;
  padding: 10px;
}

#toolHelp {
  text-align: left;
}

#toolSelector button {
  font-size: 1.2em;
  display: block;
  width: 150px;
  height: 60px;
  margin: 2px 0;
}

#toolSelector button.active {
  background-color: #e3ffdd;
  border: solid 2px #22b400;
  color: #115900;
  text-shadow: 0 0 2px rgb(100, 255, 100);
}

#importExport {
  margin: 10px 0 0;
  background-color: #efdeff;
  padding: 10px;
}

#importExport button {
  font-size: 1.2em;
}

#exportText {
  width: 400px;
  height: 300px;
  overflow: scroll;
}